# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

database_data

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.

worpress_data/wp-admin/
worpress_data/wp-content/index.php
worpress_data/wp-content/languages
worpress_data/wp-content/plugins/index.php
worpress_data/wp-content/themes/index.php
worpress_data/wp-includes/
worpress_data/index.php
worpress_data/license.txt
worpress_data/readme.html
worpress_data/wp-*.php
worpress_data/xmlrpc.php
# Configuration
wp-config.php

# Example themes
worpress_data/wp-content/themes/twenty*/

# Example plugin
worpress_data/wp-content/plugins/hello.php

# Uploads
worpress_data/wp-content/uploads/

# Log files
*.log

# htaccess
worpress_data/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
